.createForm {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: var(--xs);
	margin-top: var(--md);
}

.textInput {
	width: 100%;
	border-radius: var(--sm);
	padding-block: var(--xsl);
	padding-inline: var(--sm);
	font-size: medium;
}

.formBtnsContainer {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.gratulation {
	font-size: var(--xl);
	font-weight: 600;
	color: var(--txt-clr);
	visibility: hidden;
}

.gratulation[data-visible=true] {
	visibility:initial;
}