.editPageContainer {
	height: 100%;
}

.createForm {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: var(--xs);
	margin-top: var(--md);
}

.textInput {
	width: 100%;
	min-width: fit-content;
	min-height: fit-content;
	border-radius: var(--sm);
	padding-block: var(--md);
	padding-inline: var(--md);
	font-size: medium;
}

.textArea {
		outline: none;
		resize: none;
		width: 100%;
		line-height: 1.5;
		border-radius: var(--sm);
		padding-block: var(--md);
		padding-inline: var(--md);
}

.formBtnsContainer {
	width: 100%;
	display: flex;
	justify-content: flex-end;
}

.gratulation {
	font-size: var(--xl);
	font-weight: 600;
	color: var(--txt-clr);
	visibility: hidden;
	display: none;
}

.gratulation[data-visible=true] {
	display: block;
	visibility:initial;
}