.title{
	text-transform: capitalize;
	font-size: var(--xl);
	color: var(--subheading-clr);
}

.body {
	word-break: keep-all;
	word-wrap: balance;
	font-size: var(--md);
	color: var(--txt-clr);
}

.body::first-letter{
	text-transform: capitalize;
}

.navBtns {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: var(--xs);
}

.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.titleCardContainer {
	width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.blogContainer{
	background-color: var(--card-clr);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: start;
	gap: var(--xl);
	margin-block: var(--xxl);
	padding: var(--md);
	width: 80%;
	border-radius: var(--sm);
}

.btnsContainer {
	width: fit-content;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: var(--xs)
}

.deleteBtn {
	color: var(--txt-clr);
  position: relative;
  background-color: transparent;
  outline: none;
  border:none;
  scale: 2;
  z-index: 100;
  cursor: pointer;
  padding: calc(var(--sm) / 2);
}

.deleteBtn:hover {
  scale: 2.5;
}


.editIcon:hover {
	scale: 1.5;
}