.blogCard {
  width: 100%;
  max-height: 100%;
  min-height: var(--card-height);
  max-width: 80ch;
  padding: var(--md);
  background-color: var(--card-clr);
  border-radius: var(--sm);
  box-shadow: 2px 2px 8px #38405051;
  transition: transform 100ms ease-in;
  will-change: transform;
}

.blogCard:hover  {
  transform: scale(1.02);
}

.cardTitle {
  margin-bottom: var(--xs);
  font-size: var(--md);
  color: var(--subheading-clr);
  text-transform: capitalize;
}

.cardContent {
  font-size: var(--txt-content);
  color: var(--txt-clr);
}

.cardsContainer {
  display: flex;
  gap: var(--md);
  flex-direction: column;
  align-items: center;
}

.titleCardContainer {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-bottom: var(--xs);
}

.paginationBtnsContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.btnsContainer {
  display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: fit-content;
  gap: var(--xs);
}


.deleteBtn {
	color: var(--txt-clr);
  position: relative;
  background-color: transparent;
  outline: none;
  border:none;
  scale: 2;
  z-index: 100;
  cursor: pointer;
  padding: calc(var(--sm) / 2);
}

.deleteBtn:hover {
  scale: 2.5;
}


.editIcon:hover {
	scale: 1.5;
}

.headerContainer {
  display: flex;
  align-items: center;
  gap: var(--sm);
  font-size: var(--md);
}

.fallBackContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--md);
  padding-block: var(--md);
}

@media  (width < 861px) {
  .headerContainer {
    flex-direction: column;
  }
}
